<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="connSQL" connectionString="Data Source=SISTEMAS\COMPAC;Initial Catalog=adLAUNIVERSAL2018;Persist Security Info=True;MultipleActiveResultSets=True;User ID=sa;Password=COMPAC" providerName="System.Data.SqlClient" />
    <add name="ConnMysql" connectionString="server=localhost;User Id=root;password=;Persist Security Info=True;database=MyBusinessDelta;Allow Zero Datetime=true" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ruta" value="C:\\Compac\\Empresas\\adLAUNIVERSAL2018" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>